keir-students-sapi/src/main/mule/keir-students-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <http:listener-config name="keir-students-sapi-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="keir-students-sapi-config" raml="keir-students-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="7d4efa93-5c26-4be9-80e3-7b2b80536380" file="lo-keir-students-sapi.properties" />
    <api-gateway:autodiscovery apiId="${keir.students.sapi.api.id}" doc:name="API Autodiscovery" doc:id="a28eae91-bd8b-46d5-999e-a0058ef9a20d" flowRef="keir-students-sapi-main" />
    <db:config name="Database_Config_MySql" doc:name="Database Config" doc:id="f5362000-0460-414b-b01d-234eda15488a">
        <db:my-sql-connection host="muletraining1.cpgris6xj3d3.us-east-2.rds.amazonaws.com" port="3306" user="admin" password="adminadmin" database="MuleTraining1" />
    </db:config>
    <flow name="keir-students-sapi-main">
        <http:listener config-ref="keir-students-sapi-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="keir-students-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1a284063-cc6d-49cc-8475-4fcf9703fab7" type="ANY">
                <ee:transform doc:name="Transform Message" doc:id="8a248b1c-92b4-4d24-960e-ffc85cf9095f" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Internal Server Error"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[500]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\students:keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="47725414-f090-4f41-ba56-00cb09b193e8" message="#['Started: ' ++ flow.name]" />
        <logger level="INFO" doc:name="Logger" doc:id="5bfd122c-6663-4e3c-b167-13eebc459f69" message="Retrieving records from database..." />
        <db:select doc:name="Select" doc:id="df17ad6d-0309-4723-9645-bf733ebbd0ff" config-ref="Database_Config_MySql">
            <db:sql>SELECT * FROM Students</db:sql>
        </db:select>
        <ee:transform doc:name="Response to JSON" doc:id="06e0c4dc-8eba-42da-9002-c9f78c0a8f38">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
	id: $.STUDENT_ID,
	fName: $.FIRST_NAME,
	lName: $.LAST_NAME,
	major: $.MAJOR,
	year: $.YEAR,
	startDate: $.START_DATE as Date default "-",
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="f5a46a8b-73cd-42a6-8986-7a76944b5300" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="post:\students:application\json:keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="c82a0168-b611-42ee-b18c-3fe7ea300e4a" message="#['Started: ' ++ flow.name]" />
        <logger level="INFO" doc:name="Logger" doc:id="2897db7d-e248-4415-86d0-390336b792e6" message="Inserting records into database..." />
        <db:insert doc:name="Insert" doc:id="547a0778-7714-4df5-89cf-59ff02d80ce9" config-ref="Database_Config_MySql" target="dbResponse" autoGenerateKeys="true">
            <db:sql>INSERT INTO Students (FIRST_NAME, LAST_NAME, MAJOR, YEAR, START_DATE)
VALUES (:firstName, :lastName, :major, :year, :startDate)</db:sql>
            <db:input-parameters><![CDATA[#[{
	'firstName': payload.fName,
	'lastName': payload.lName,
	'major': payload.major,
	'year': payload.year,
	'startDate': payload.startDate
}]]]></db:input-parameters>
            <db:auto-generated-keys-column-names>
                <db:auto-generated-keys-column-name value="&quot;STUDENT_ID&quot;" />
            </db:auto-generated-keys-column-names>
        </db:insert>
        <ee:transform doc:name="Response" doc:id="deea2c24-77fe-46ed-99f8-109bb011c7dd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
	id: vars.dbResponse.generatedKeys[0]
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus"><![CDATA[201]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="2381b15a-7664-4cba-b539-fabad44bf269" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="get:\students\(studentId):keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="dcb02e86-3e29-494e-838c-faeb7f370f74" message="#[&quot;Started &quot; ++ flow.name]" />
        <ee:transform doc:id="374bbd87-c075-4c15-b6c8-9d51f881e3c1" doc:name="Save Params">
            <ee:variables>
                <ee:set-variable variableName="studentId"><![CDATA[attributes.uriParams.studentId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <!--
        <raise-error type="FOO:SOME_ERROR" description="There was an errooooorrrrrr!!!" />
        -->
        <flow-ref doc:name="retrieve-student-subflow" doc:id="58d9260b-6b9d-4628-97d2-17d428fe23c1" name="retrieve-student-subflow" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="ed7b2c35-1c08-4206-9a57-e4b2d089693a" doc:name="Set JSON Payload">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	studentId: payload[0].STUDENT_ID,
	fName: payload[0].FIRST_NAME,
	lName: payload[0].LAST_NAME,
	major: payload[0].MAJOR,
	year: payload[0].YEAR,
	startDate: payload[0].START_DATE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="8dbf20d9-e6ce-43b3-be68-eda53c8f25ce" message="#[&quot;Completed &quot; ++ flow.name]" />
        <error-handler>
            <on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9d7ebca6-347d-4aa4-a355-22117bddf223" type="ANY">
                <logger level="INFO" doc:name="Error" doc:id="84e9ee09-34b6-4618-bf5a-45db35012063" message="YA DUN MESSED UP" />
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="retrieve-student-subflow" doc:id="e9b1f3da-7cd2-4150-a840-be9ee94b410e">
        <logger level="INFO" doc:name="Start" doc:id="e1c8b82a-a087-4a6e-810a-cf9b4b6d35a5" message="#[&quot;Started &quot; ++ flow.name]" />
        <!--
        <raise-error type="FOO:SOME_ERROR" description="There was an errooooorrrrrr!!!" />
        -->
        <logger level="INFO" doc:name="Logger" doc:id="7569b038-0c2a-4905-b343-4adc783a83a2" message="Retrieving records from database..." />
        <db:select doc:name="Select" doc:id="6a33c423-d5c8-44e9-97cd-e975eb72c063" config-ref="Database_Config_MySql">
            <db:sql>SELECT * FROM Students WHERE STUDENT_ID = :studentId</db:sql>
            <db:input-parameters><![CDATA[#['studentId': vars.studentId]]]></db:input-parameters>
        </db:select>
        <logger level="INFO" doc:name="End" doc:id="1f1c0657-24ce-4cd8-853b-7d29b1ac8d22" message="#[&quot;Completed &quot; ++ flow.name]" />
    </sub-flow>
    <flow name="retrieve-student-flow" doc:id="c3c79f74-883c-4c6a-860b-c7c27218dbfb">
        <logger level="INFO" doc:name="Start" doc:id="173ee6da-8857-4144-8305-68970f16445c" message="#[&quot;Started &quot; ++ flow.name]" />
        <!--
        <raise-error type="FOO:SOME_ERROR" description="There was an errooooorrrrrr!!!" />
        -->
        <db:select doc:name="Select" doc:id="62fe1ac8-bebe-4bf3-acb7-e31195c243b0" config-ref="Database_Config_MySql">
            <db:sql>SELECT * FROM Students WHERE STUDENT_ID = :studentId</db:sql>
            <db:input-parameters><![CDATA[#["studentId": vars.studentId]]]></db:input-parameters>
        </db:select>
        <logger level="INFO" doc:name="End" doc:id="1112e8a6-ac76-4e2b-a394-255dfc791220" message="#[&quot;Completed &quot; ++ flow.name]" />
        <error-handler>
            <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="73278c11-fd2c-4abe-a5a1-4f3c47d2e0f1">
                <logger level="INFO" doc:name="Logger" doc:id="6e746016-ba4f-47e9-8d40-40b7f2f70954" message="SUPER SPECIAL ERROR MESSAGE" />
            </on-error-continue>
        </error-handler>
    </flow>
    <flow name="put:\students\(studentId):application\json:keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="83d11709-8998-49c1-860f-8ffe99afb8b7" message="#['Started: ' ++ flow.name]" />
        <ee:transform doc:id="aaa657ca-60a9-404c-898a-1e1afeebcf50">
            <ee:variables>
                <ee:set-variable variableName="studentId"><![CDATA[attributes.uriParams.studentId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="Updating records in database..." />
        <db:update doc:name="Update" doc:id="9df70f79-5d21-4427-bae9-1d533d68e224" config-ref="Database_Config_MySql" target="dbResponse">
            <db:sql>UPDATE Contacts
SET MOBILE = :mobile,
EMAIL = :email,
NOTIFICATION_PREFERENCE = :notificationPreference
WHERE STUDENT_ID = :studentId</db:sql>
            <db:input-parameters><![CDATA[#[{
	'mobile': payload.mobile,
	'email': payload.email,
	'notificationPreference': payload.notificationPreference,
	'studentId': vars.studentId
}]]]></db:input-parameters>
        </db:update>
        <logger level="INFO" doc:name="End" doc:id="6d0b7c65-8b3d-4c06-a467-1f62e2602972" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="get:\contacts:keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="12deb805-f65b-47c6-93d1-f29c4b38237a" message="#['Started: ' ++ flow.name]" />
        <ee:transform doc:name="Save Params" doc:id="bc110cda-76ae-4bb9-b03b-2a7dc520715e" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="studentId" ><![CDATA[attributes.queryParams.studentId]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dd8d38a1-1636-44f9-8d89-8a9324268814" message="Retrieving records from database..." />
        <db:select doc:name="Select" doc:id="b1174df9-3345-4ca9-8375-03ca54bf936b" config-ref="Database_Config_MySql">
            <db:sql>SELECT * FROM Contacts WHERE STUDENT_ID = :studentId</db:sql>
			<db:input-parameters ><![CDATA[#['studentId': vars.studentId]]]></db:input-parameters>
        </db:select>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="38c81aa9-2a56-4140-a325-cbf986a9b4aa" doc:name="Set Payload to JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload[0].CONTACT_ID,
	studentId: payload[0].STUDENT_ID,
	mobile: payload[0].MOBILE,
	email: payload[0].EMAIL,
	notificationPreference: payload[0].NOTIFICATION_PREFERENCE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="4233192e-1e43-480d-848f-a2dc96208d6b" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="post:\contacts:application\json:keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="38c31997-467e-40a4-8ab3-dc53fde60da9" message="#['Started: ' ++ flow.name]" />
        <logger level="INFO" doc:name="Logger" doc:id="1ad92e4c-d97b-413a-b671-9fb9c13068ca" message="Inserting records into database..." />
        <db:insert doc:name="Insert" doc:id="c6406505-12bd-4d49-acc6-64a5dc556dd4" config-ref="Database_Config_MySql" target="dbResponse">
            <db:sql>INSERT INTO Contacts (STUDENT_ID, MOBILE, EMAIL, NOTIFICATION_PREFERENCE)
VALUES (:studentId, :mobile, :email, :notificationPreference)</db:sql>
            <db:input-parameters><![CDATA[#[{
	'mobile': payload.mobile,
	'email': payload.email,
	'notificationPreference': payload.notificationPreference,
	'studentId': payload.studentId
}]]]></db:input-parameters>
        </db:insert>
        <logger level="INFO" doc:name="End" doc:id="50575ad9-2627-4f2d-82de-05ae17694995" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="put:\contacts\(contactId):application\json:keir-students-sapi-config">
		<logger level="INFO" doc:name="Start" doc:id="50d02707-4f6b-4cae-8f4e-28c424069a5d" message="#['Started: ' ++ flow.name]" />
		<ee:transform doc:id="96e3f807-4bc6-4e13-85f7-6736aa1d19ff" doc:name="Save Params">
            <ee:variables>
                <ee:set-variable variableName="contactId"><![CDATA[attributes.uriParams.contactId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" message="Updating records in database..." />
		<db:update doc:name="Update" doc:id="819f869d-8f1b-4698-9717-680c4b9264f6" config-ref="Database_Config_MySql" target="dbResponse">
            <db:sql>UPDATE Contacts
SET MOBILE = :mobile,
EMAIL = :email,
NOTIFICATION_PREFERENCE = :notificationPreference
WHERE CONTACT_ID = :contactId AND STUDENT_ID = :studentId</db:sql>
            <db:input-parameters><![CDATA[#[{
	'mobile': payload.mobile,
	'email': payload.email,
	'notificationPreference': payload.notificationPreference,
	'studentId': payload.studentId,
	'contactId': vars.contactId
}]]]></db:input-parameters>
        </db:update>
		<ee:transform doc:name="Set payload to JSON" doc:id="3576c721-6c63-4b18-8968-232bb78ae13a" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload ++ {
	id: vars.contactId as Number
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End" doc:id="8157a53a-09a0-4bad-ac56-09a6098f3c69" message="#['Completed: ' ++ flow.name]" />
    </flow>
    <flow name="get:\contacts\(contactId):keir-students-sapi-config">
        <logger level="INFO" doc:name="Start" doc:id="0d1b60af-8dc7-4cb8-9d4d-7b2676de9dad" message="#['Started: ' ++ flow.name]" />
		<ee:transform doc:id="97850d4a-6625-42a2-b63f-73c1d68f6aa3" doc:name="Save Params">
            <ee:variables>
                <ee:set-variable variableName="contactId"><![CDATA[attributes.uriParams.contactId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ce730f63-1a60-4803-b192-d29d7ac3b137" message="Retrieving records from database..." />
		<db:select doc:name="Select" doc:id="aa0ae214-4c71-44c5-95ae-a8a6f12994c1" config-ref="Database_Config_MySql">
            <db:sql>SELECT * FROM Contacts WHERE CONTACT_ID = :contactId</db:sql>
            <db:input-parameters><![CDATA[#['contactId': vars.contactId]]]></db:input-parameters>
        </db:select>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="d4232558-d34a-4638-b3bd-d8942625b902" doc:name="Set payload to JSON">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: payload[0].CONTACT_ID,
	studentId: payload[0].STUDENT_ID,
	mobile: payload[0].MOBILE,
	email: payload[0].EMAIL,
	notificationPreference: payload[0].NOTIFICATION_PREFERENCE
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="End" doc:id="37b2c34e-4911-48a1-8364-b5cb3235660c" message="#['Completed: ' ++ flow.name]" />
    </flow>
</mule>
