keir-grades-sapi/src/main/mule/keir-grades-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="keir-grades-sapi-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="keir-grades-sapi-config" raml="keir-grades-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <!--
    <http:request-config name="HTTP_Request_config" doc:name="HTTP Request configuration" doc:id="1f8dbba2-48f3-4e64-9338-d191a3f6633c">
        <http:request-connection host="${keir.grades.sapi.grading.host}" port="${keir.grades.sapi.grading.port}" />
    </http:request-config>
    -->
    <http:request-config name="HTTP_Request_config" doc:name="HTTP Request configuration" doc:id="9c0f2393-bf81-461b-a0c0-732e83df4216">
        <http:request-connection host="keir-grading-system-dev.us-e1.cloudhub.io" port="80" />
    </http:request-config>
    <configuration-properties doc:name="Configuration properties" doc:id="ed122511-c2a7-4bf4-a656-9e5fc88acd1e" file="${mule.env}-keir-grades-sapi.properties" />
    <flow name="keir-grades-sapi-main">
        <http:listener config-ref="keir-grades-sapi-httpListenerConfig" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]" />
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="keir-grades-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\grades\(studentId):keir-grades-sapi-config">
        <logger level="INFO" message="#[&quot;Started flow: &quot; ++ flow.name]" doc:name="Start" />
        <ee:transform doc:id="0e30d875-6747-48b9-bb8b-980f3b77829b" doc:name="Save Params">
            <ee:variables>
                <ee:set-variable variableName="studentId"><![CDATA[attributes.uriParams.studentId]]></ee:set-variable>
                <ee:set-variable variableName="courseId"><![CDATA[attributes.queryParams.courseId]]></ee:set-variable>
                <ee:set-variable variableName="assignmentId"><![CDATA[attributes.queryParams.assignmentId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <http:request method="GET" doc:name="GET Grades by Student ID" doc:id="cafb0b23-b449-44b4-b8fa-47bd3b890c41" config-ref="HTTP_Request_config" path="/grades/{studentId}">
            <http:uri-params><![CDATA[#[output application/java
---
{
	"studentId" : vars.studentId
}]]]></http:uri-params>
            <http:query-params><![CDATA[#[output application/java
---
{
	courseId : vars.courseId,
	assignmentId : vars.assignmentId
}]]]></http:query-params>
        </http:request>
        <ee:transform doc:name="Map Response JSON" doc:id="42d7afaa-1307-4fe7-abb9-e2bef271a4e6">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.grades.*grade map (grade, idx) -> {
    gradeId: grade.id as Number,
    studentId: grade.@studentId as Number,
    assignmentId: grade.assignmentId as Number,
    courseId: grade.@courseId  as Number,
    score: grade.score as Number
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="End" doc:id="0a6f4f6d-ead4-46aa-96a3-fc3c5163be0c" message="#[&quot;Completed flow: &quot; ++ flow.name]" />
    </flow>
    <flow name="get:\assignments\(courseId):keir-grades-sapi-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="courseId">attributes.uriParams.courseId</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f0cfc5b3-ddb9-4585-a354-0289bab876b9">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    assignmentId: 1,
    courseId: 1,
    assignmentName: "Midterm 1",
    maxScore: 100,
    weight: 20
  }, 
  {
    assignmentId: 2,
    courseId: 1,
    assignmentName: "Midterm 2",
    maxScore: 100,
    weight: 20
  }, 
  {
    assignmentId: 3,
    courseId: 1,
    assignmentName: "Final",
    maxScore: 200,
    weight: 30
  }, 
  {
    assignmentId: 4,
    courseId: 2,
    assignmentName: "Homework 1",
    maxScore: 10,
    weight: 10
  }, 
  {
    assignmentId: 5,
    courseId: 2,
    assignmentName: "Homework 2",
    maxScore: 10,
    weight: 10
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\courses:keir-grades-sapi-config">
        <ee:transform xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    courseId: 1,
    courseDept: "HIST",
    courseCode: "101",
    courseName: "History 1",
    instructor: "Cuthbert Binns"
  }, 
  {
    courseId: 2,
    courseDept: "CHEM",
    courseCode: "201",
    courseName: "Chemistry 2",
    instructor: "Weyland Nolan"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
